<section class="page-content">

  <dropdown>
    <button type="button" class="btn" dropdown-toggle>
      Toggle!
      <span class="icon">arrow_drop_down</span>
    </button>
    <div dropdown-popup>
      I'm like totally a dropdown man!
    </div> 
  </dropdown>


  <button type="button" class="btn narrow">Button 1</button>
  <button type="button" class="btn">Button 2</button>

  <br>
  <br>

  <div class="btn-group">
    <button type="button" class="btn">Button 1</button>
    <button type="button" class="btn">Button 2</button>
    <button type="button" class="btn">Button 3</button>
  </div>

  <br>
  <br>

  <div class="btn-group" dropdown>
    <button type="button" class="btn">Button 1</button>
    <dropdown>
      <button type="button" class="btn narrow" dropdown-toggle>
        <span class="icon">arrow_drop_down</span>
      </button>
      <div dropdown-popup
          corner="right top"
          anchorCorner="right bottom">
        Dropdown in a btn group.
      </div> 
    </dropdown>
  </div>


  <br>
  <br>

  <button type="button" class="btn" ng-click="ctrl.showDialog()">
    Show Dialog
  </button>

</section>
